.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.app {
  background-color: #F3F7FA;
  min-height: 100vh;
  width: 100%;
  padding: 50px 103px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__container {
  max-width: 755px;
  margin: 0 auto;
  min-height: 100vh;

  display: grid;
  grid-template-areas: 
  "s c c "
  "s c c "
  "s c c ";

  grid-template-columns: 4fr 8fr;
  grid-gap: 20px;
  padding-top: 50px;
}

.sidebar {
  grid-area: s;
}

.content {
  grid-area: c;

}